body, html{
    margin: 0;
}

#h_app {
    width: 100vw;
    height: 100vh;
}

#h_mid{
    flex-direction: column;
}

#h_mid > div {
    margin: 5px;
    padding: 5px;
}

#h_q {
    font-size: 25px;
}
.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}